table{
    width: 50%;
    line-height: 1.5;
    border-color: rgb(255, 0, 0);
    border-style: solid;
    border: 4px;
}
thead{
    background-color: rgb(4, 0, 255);
    font-size: 18px;
    text-align: center;
    border: 2px solid darkblue;
}
td{
    border: 1px;
    font-family: Verdana;
    font-size: 15px;
}